<header class="w-full bg-[#424769]">
    <div class="flex items-center justify-between mx-0">
        <div class="pl-3 side-left">
            <figure>
                <a href="/index.html"><img src="../img/logo.png" alt="Logo" class="logo w-35" /></a>
            </figure>
        </div>

        <div class="flex justify-center search pr-15">
            <form role="search">
                <input type="text" id="pesquisa" name="q" placeholder="Buscar.."
                    class="bg-white text-black rounded-lg pe-15 ps-4 py-[2px] text-left w-100" />
            </form>
        </div>

        <div class="side-right pr-15">
            <figure class="">
                <img src="../img/icons/profile.png" alt="profile menu" class="w-10 h-auto profile" />
            </figure>
        </div>
    </div>
    <nav class="flex justify-center w-full mx-0 nav pb-2">
        <section class="">
            <ul class="flex gap-10">
                <a href="../index.html">
                    <li>Home</li>
                </a>
                <a href="../pages/planning.html">
                    <li>Planejamentos</li>
                </a>
                <a href="#">
                    <li>Dicas</li>
                </a>
                <a href="#">
                    <li>Sobre nós</li>
                </a>
            </ul>
        </section>
    </nav>
</header>